@import "tailwindcss";

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  color: #1e1e1e;
}

h1,h2,h3,h4,h5,h6{
  font-family: var(--font-montserrat-alternates);
}

.seperator {
  width: 2px;
  background-image: linear-gradient(to bottom, #000000 0%, #666666 51.5%);
  align-self: stretch;
}

.horizontal-seperator {
  height: 1px;
  background-image: linear-gradient(to left, #000000 0%, #666666 51.5%);
}
